*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2e2d53;
    color: #fefefe;
}

body{
    display: flex;
    flex-direction: column;
}


header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu{
    font-size: 20px;
    padding: 20px;
}

.contenido-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.contenedor{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin: auto;
    overflow: auto;
    max-width: 1300px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.presentacion-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentacion-nombre {
    flex-direction: column;
    padding: 10px;
}

h1{
    font-size: 7rem;
}

h2 , h4{
    font-size: 2rem;
    align-self: flex-start;
}

h5{
    font-size: 1rem;
}

.presentacion-foto img{
    width: 300px;
}

.sobre-mi-img img{
    width: 300px;
}

.sobre-mi-texto{
    font-size: 1rem;
}

.contenedor-tecnologias{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    margin: auto;
    overflow: auto;
    max-width: 1300px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.tecnologias-titulo{
    font-size:30px;
    font-family: sans-serif;

    align-self: flex-start;
}

.tecnologias-iconos{
    display: inline-block;
    align-self: center;
    font-size: 90px;
}

.tecnologias-iconos i{
    padding: 20px;
}

.formulario-titulo{
    display: inline-block;
    align-self: flex-start;
}

form label{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1rem;
}

.formulario-campos{
    padding-bottom: 10px;
}

.formulario-input{
    background-color: white;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}

.btn{
    border-radius: 5px;
    display: inline-block;
    padding: 10px 10px;
    background-color: #5e64c0;
}

@media (max-width: 576px){
    .contenedor{
        flex-direction: column;
        align-items: center;
    }
    .presentacion-foto{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .presentacion-foto img{
        width: 100%;
    }

    h1{
        font-size: 3rem;
    }
    
    h2 ,h3, h4{
        font-size: 1.5rem;
        align-self: flex-start;
    }
    
    h5{
        font-size: 1rem;
    }
    a{
        font-size: 1rem;
    }
}

@media (max-width: 657px){
    .contenedor{
        flex-direction: column;
        align-items: center;
    }
    .presentacion-foto{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .sobre-mi-img img{
        width: 100%;
    }
}

@media (max-width: 768px){
    .sobre-mi-texto{
        padding: 40px;
    }
    .tecnologias-iconos i{
        display: flex;
        align-content: center;
    }
    
}

@media (max-width: 996px){
    .sobre-mi-texto{
        padding: 40px;
    }
}


@media (max-width: 1300px){
    .contenedor{
        padding: 20px;
    }
    .contenedor-tecnologias{
        padding: 20px;
    }
    h5{
        padding-right: 20px;
    }
}